header {
    background-image:url('img/fond.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
    height: 460px;
}

nav {
    font-family: 'Kaushan Script', cursive;
    color:white;
    text-align: center
}

nav p{
    display: inline-block
}

nav p a{
    
    color:white;
}

nav a i {
    width: 25%;
}

.paragraphe1 {
    text-align: center;
    color: white;
}

header h1{
    font-family: 'Kaushan Script', cursive;
    color:white;
    text-align: center;
    font-size:2em;
}

h2{
    text-align: center;
}

div {
    width:95%;
    margin:1em;
}

table {
    width:85%;
}

th{
    
    background-color: #C4A5DE;
}

td {
    font-family: 'Playfair Display', serif;
}


footer {
     background-color: #C4A5DE;
}