body {
	width: 750px;
	background-image:url(img/fond.png)

} 

header {
	background-color:#B9C93A
}

h2 {
	color:#B9C93A;
}




a[data-tooltip]::before{
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    bottom: 2em;
    left: 50px;
    width: 200px;
    margin-left:-100px;
}

a[data-tooltip]:hover::before {
    display:block;
}

a[data-tooltip]::after{
    content: " ";
    width: 0;
    height: 0;
    border:10px solid transparent;
    border-top-color: block red;
    
}




 article{ 
 	padding:20px;
 	clear:both;
 	border: 5px yellow;
  }
  section{ 
  	background-color: white;
  	border: 7px solid purple;
   }

nav {
	display:inline;
	font-size:1.3em;

}

.image {
width: 35%;
float:left;
}

.twl{
width: 5%;
height:auto;
float:center;
}

.button1 {
    background-color: #B9C93A;
    color:white;
    border: 2px solid #B9C93A;
    width:11%;
    text-align:right;
    display:inline;
}
.navig {
		list-style:none;
		border:6px solid red;
	} 

.navig li{
	display:inline;
	border: 4px solid black;
	padding:1.3em;
}
