/*
a {
    text-decoration: none;
}


ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

*/

.tabs li {
    float: left;
    display: block;
}

.tabs:after{
    display: table;
    content: '';
    clear: both;
    
}

.tabs a {
    display: inline-block;
    background-color: aqua;
    box-shadow: 0 1px 3px grey;
    padding: 10px 15px;
}



.tabs .active a {
    background-color: cornflowerblue;
    
}




.tabs-content{
    position: relative;
    z-index: 3;
    padding: 20px;
     box-shadow: 0 1px 3px grey;
}


.tab-content {
    display: none;
  
}

.tab-content.active {
    display: block;

}


